ale_py==0.9.0
autorom[accept-rom-license]==0.6.1
av
chex
cloudpickle
colored_traceback
dm_control
einops
elements>=3.19.1
google-resumable-media>=2.7.2
granular>=0.20.3
jax==0.4.33
jaxtyping
matplotlib
ninjax>=3.5.1
numpy<2
optax
pillow
portal>=3.5.0
pytest
ruamel.yaml
scope>=0.4.4
tqdm
zerofun
